.card {
	width: 400px;
	height:255px;
	perspective: 1000px;
	margin:auto;
}

.card-inner {
	position: relative;
	width:100%;
	height:100%;
	transition: 1s;
	transform-style: preserve-3d;
}

.card-inner-front, .card-inner-back {
	position: absolute;
	top:0;
	width:100%;
	height:100%;
	backface-visibility: hidden;
}

.card-inner-back {
	transform: rotateY(180deg);
	background-color: gray;
}

.card:hover .card-inner{
	transform: rotateY(180deg);
}